<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	
	<!-- Setting
		http://www.mybatis.org/mybatis-3/ko/configuration.html#settings
	 -->
	<settings>
		<!-- a_bcd(DB) -> aBcd(DTO, VO 형식) CamelCase로 자동 변경 -->
		<setting name="mapUnderscoreToCamelCase" value="true" />
	</settings>
	
	<!-- 별칭 명시
		http://www.mybatis.org/mybatis-3/ko/configuration.html#typeAliases
	 -->
	<typeAliases>
		<typeAlias alias="Member" type="com.iheart.ssi.ies.dom.Member" />
	</typeAliases>
	
	
	<!-- Environments
		http://www.mybatis.org/mybatis-3/ko/configuration.html#environments
		★ SqlSessionFactory 인스턴스 하나에 한개의 DB만 사용할 수 있다.
		두개의 DB를 연결하고 싶다면 SqlSessionFactory 인스턴스를 2개 생성해야 한다.
	 -->
	<environments default="MARIADB">
		<environment id="MARIADB">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="${MARIADB.DRIVER}" />
				<property name="url" value="${MARIADB.URL}" />
				<property name="username" value="${MARIADB.USERNAME}" />
				<property name="password" value="${MARIADB.PASSWORD}" />
			</dataSource>
		</environment>

		<environment id="ORACLE">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="${ORACLE.DRIVER}" />
				<property name="url" value="${ORACLE.URL}" />
				<property name="username" value="${ORACLE.USERNAME}" />
				<property name="password" value="${ORACLE.PASSWORD}" />
			</dataSource>
		</environment>

		<environment id="MSSQL">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="${MSSQL.DRIVER}" />
				<property name="url" value="${MSSQL.URL}" />
				<property name="username" value="${MSSQL.USERNAME}" />
				<property name="password" value="${MSSQL.PASSWORD}" />
			</dataSource>
		</environment>
	</environments>

	<mappers>
		<mapper resource="com/iheart/ssi/ies/mybatis/mapper/EmailMapper.xml" />
		<mapper resource="com/iheart/ssi/ies/mybatis/mapper/MemberMapper.xml" />
		<mapper resource="com/iheart/ssi/ies/mybatis/mapper/MonitoringMapper.xml" />
	</mappers>
</configuration>